<app-breadcrumb-admin [single]="true" titlePage="Productos"></app-breadcrumb-admin>

<p *ngIf="alert.active">
  <ngb-alert [type]="alert.type" (closed)="closeAlert()">{{ alert.message }}</ngb-alert>
</p>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card mb-3 bg-dark-header text-white">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
            <h3><fa-icon [icon]="faTable"></fa-icon> Tabla de Productos</h3>
          </div>
          <div class="col-6">
            <h3 class="float-end text-primary"><a [routerLink]="['/admin/products/create']"><fa-icon [icon]="faPlus"></fa-icon></a></h3>
          </div>
        </div>
      </div>
      <div class="card-body bg-dark text-white">
        <div class="table-responsive">
          <table id="dataTable" class="table table-bordered table-hover display" style="width:100%">
            <thead class="bg-primary  text-white">
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Codigo</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody class="table-dark">
            <tr *ngFor="let product of products |  paginate: { itemsPerPage: 5, currentPage: page }; let i=index">
              <td width="100px">
                <a [routerLink]="['/admin/products/edit', product.id]" title="Editar">
                  <img src="assets/images/missing.png" alt="Sin Imagen" class="img-fluid" *ngIf="!product.image">
                  <img [src]="url_images + product.image" alt="category.image" class="img-fluid" *ngIf="product.image" (error)="replaceImage(image)" #image>
                </a>
              </td>
              <td>
                <a [routerLink]="['/admin/products/edit', product.id]" title="Editar">
                  <span *ngIf="serviceTranslation.getLang() == 'fr'">
                    <span *ngIf="product.name.fr">{{ product.name.fr }}</span>
                    <span *ngIf="!product.name.fr">Editar</span>
                  </span>
                      <span *ngIf="serviceTranslation.getLang() == 'de'">
                    <span *ngIf="product.name.de">{{ product.name.de }}</span>
                    <span *ngIf="!product.name.de">Editar</span>
                  </span>
                </a>
              </td>
              <td>{{ product.key }}</td>
              <td width="100px" class="text-center" >
                <fa-icon [icon]="faStar" [ngClass]="{'text-warning': product.novelty, 'text-secondary': !product.novelty }"
                         class="cursor"
                         title="Novedad"
                         (click)="novelty(product.id)" >
                </fa-icon>
                <fa-icon [icon]="faCertificate" [ngClass]="{'text-info': product.new, 'text-secondary': !product.new }"
                         class="ms-1 cursor"
                         title="Nuevo"
                         (click)="new(product.id)" >
                </fa-icon>
                <fa-icon [icon]="faPowerOff" [ngClass]="{'text-success': product.active, 'text-danger': !product.active }"
                         class="ms-1 cursor"
                         title="Activo"
                         (click)="active(product.id)" >
                </fa-icon>
                <fa-icon [icon]="faTrashAlt"
                         class="text-danger ms-1 cursor"
                         title="Eliminar"
                         (click)="delete(product.id)">
                </fa-icon>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls  (pageChange)="page = $event"
                                (pageBoundsCorrection)="page = $event"
                                [maxSize]=9
                                [directionLinks]=true
                                [autoHide]=true
                                [responsive]=true
                                previousLabel="Anterior"
                                nextLabel="Siguente"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <!-- end table-responsive-->
      </div>
      <!-- end card-body-->
    </div>
    <!-- end card-->
  </div>
</div>
