<div *ngFor="let category of categories" class="ms-2">
  <label *ngIf="serviceTranslation.getLang() == 'fr'">
    <span *ngIf="category.name.fr">{{ category.name.fr }}</span>
    <span *ngIf="!category.name.fr">Editar </span>
  </label>
  <label *ngIf="serviceTranslation.getLang() == 'de'">
    <span *ngIf="category.name.de">{{ category.name.de }}</span>
    <span *ngIf="!category.name.de">Editar </span>
  </label>
  <input type="checkbox" (click)="push(category.id)" [checked]="category.status">
  <app-product-categories [parent]="category.id" (categorySelect)="push($event)" [categoriesSelect]="categoriesSelect"></app-product-categories>
</div>
