<app-breadcrumb-admin [single]="false" titlePage="Crear Producto" backPage="Productos" url="products"></app-breadcrumb-admin>

<p *ngIf="alert.active">
  <ngb-alert [type]="alert.type" (closed)="closed()">{{ alert.message }}</ngb-alert>
</p>

<div class="row">
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header bg-dark-header text-white">
        <h3><fa-icon [icon]="faHandPointer"></fa-icon> Nueva Categoria</h3>
      </div>
      <div class="card-body bg-dark text-white">
        <form class="validate-form" (ngSubmit)="submit(form)" #form="ngForm">
          <div class="row">
            <div class="col-12 col-lg-8">
              <label for="name"  class="label-flags">
                <img src="assets/images/flags/Flag_of_France.svg" width="20px" alt="french" *ngIf="serviceTranslation.getLang() == 'fr'">
                <img src="assets/images/flags/Flag_of_Germany.svg" width="20px" alt="germany" *ngIf="serviceTranslation.getLang() == 'de'">
                <span> Nombre</span>
              </label>
              <input type="text" name="name" id="name" placeholder="Nombre" class="form-control" [(ngModel)]="product.name.fr" required *ngIf="serviceTranslation.getLang() == 'fr'">
              <input type="text" name="name" placeholder="Nombre" class="form-control" [(ngModel)]="product.name.de" required *ngIf="serviceTranslation.getLang() == 'de'">
              <label for="description"  class="label-flags">
                <img src="assets/images/flags/Flag_of_France.svg" width="20px" alt="french" *ngIf="serviceTranslation.getLang() == 'fr'">
                <img src="assets/images/flags/Flag_of_Germany.svg" width="20px" alt="germany" *ngIf="serviceTranslation.getLang() == 'de'">
                <span> Descripción</span>
              </label>
              <ckeditor [editor]="Editor" ngModel [data]="product.description.fr" name="description" id="description" *ngIf="serviceTranslation.getLang() == 'fr'"></ckeditor>
              <ckeditor [editor]="Editor" ngModel [data]="product.description.de" name="description" *ngIf="serviceTranslation.getLang() == 'de'"></ckeditor>
              <label for="details"  class="label-flags">
                <img src="assets/images/flags/Flag_of_France.svg" width="20px" alt="french" *ngIf="serviceTranslation.getLang() == 'fr'">
                <img src="assets/images/flags/Flag_of_Germany.svg" width="20px" alt="germany" *ngIf="serviceTranslation.getLang() == 'de'">
                <span> Detalles</span>
              </label>
              <ckeditor [editor]="Editor" ngModel [data]="product.details.fr" name="details" id="details" *ngIf="serviceTranslation.getLang() == 'fr'"></ckeditor>
              <ckeditor [editor]="Editor" ngModel [data]="product.details.de" name="details" *ngIf="serviceTranslation.getLang() == 'de'"></ckeditor>
            </div>
            <div class="col-12 col-lg-4">
              <div class="card bg-dark p-2 border-light">
                <div *ngFor="let category of categories">
                  <label *ngIf="serviceTranslation.getLang() == 'fr'">
                    <span *ngIf="category.name.fr">{{ category.name.fr }}</span>
                    <span *ngIf="!category.name.fr">Editar </span>
                  </label>
                  <label *ngIf="serviceTranslation.getLang() == 'de'">
                    <span *ngIf="category.name.de">{{ category.name.de }}</span>
                    <span *ngIf="!category.name.de">Editar </span>
                  </label>
                  <input type="checkbox" (click)="push(category.id)" [checked]="category.status">
                  <app-product-categories [parent]="category.id" (categorySelect)="push($event)" [categoriesSelect]="categoriesSelect"></app-product-categories>
                </div>
              </div>
            </div>
          </div>
          <div class="position-relative form-group">

            <label for="image" class="">Imagen</label>
            <div class="row">
              <div class="col-4">
                <img [src]="url_images + imageInit" class="img-fluid" [alt]="imageInit" *ngIf="imageInit">
                <img [src]="thumbnail" *ngIf="thumbnail" class="img-fluid">
                <img src="assets/images/missing.png" *ngIf="!imageInit && !thumbnail" class="img-fluid" (error)="replaceImage(image)" #image>
              </div>
              <div class="col-4 d-flex align-items-center">
                <div class="upload-btn-wrapper">
                  <button class="btn btn-primary">Selecciona un archivo</button>
                  <input type="file" name="image" id="image" (change)="getImage($event)">
                </div>
              </div>
            </div>
          </div>
          <label for="key"  class="label-flags">
            <span> Codigo</span>
          </label>
          <input type="text" name="key" placeholder="Codigo" id="key" class="form-control" [(ngModel)]="product.key">
          <label for="model"  class="label-flags">
            <!--            <img src="assets/images/flags/Flag_of_France.svg" width="20px" alt="french" *ngIf="serviceTranslation.getLang() == 'fr'">-->
            <!--            <img src="assets/images/flags/Flag_of_Germany.svg" width="20px" alt="germany" *ngIf="serviceTranslation.getLang() == 'de'">-->
            <span> Modelo</span>
          </label>
          <input type="text" name="model" placeholder="Modelo" id="model" class="form-control" [(ngModel)]="product.model">
          <label for="size"  class="label-flags">
            <!--            <img src="assets/images/flags/Flag_of_France.svg" width="20px" alt="french" *ngIf="serviceTranslation.getLang() == 'fr'">-->
            <!--            <img src="assets/images/flags/Flag_of_Germany.svg" width="20px" alt="germany" *ngIf="serviceTranslation.getLang() == 'de'">-->
            <span> Talla</span>
          </label>
          <input type="text" name="size" placeholder="Talla" id="size" class="form-control" [(ngModel)]="product.size">
          <label for="price"  class="label-flags">
            <span> Precio</span>
          </label>
          <input type="number" min="0" name="price" placeholder="Precio" id="price" class="form-control" [(ngModel)]="product.price">

          <div class="alert alert-primary mt-3" role="alert">
            <fa-icon [icon]="faImages"></fa-icon> Imágenes (Formato png, jpg o jpeg de tamaño 1,280 x 960 a 72 dpi)<br>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3"  *ngFor="let image of images; let i=index">
                  <img [src]="url_images + image.name" class="img-fluid" [alt]="image.name">
                  <a  (click)="activeImage(image.id)" style="cursor: pointer;">
                    <fa-icon [icon]="faPowerOff" class="text-success" *ngIf="image.active"></fa-icon>
                    <fa-icon [icon]="faPowerOff" class="text-danger" *ngIf="!image.active"></fa-icon>
                  </a>
                  <a class="text-danger ml-2" (click)="deleteImage(image.id)" style="cursor: pointer;">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label>Arrastra tus Images</ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </ngx-dropzone>
          <button type="submit" [disabled]="form.invalid" class="mt-2 float-end btn btn-primary">
            <fa-icon [icon]="faSave"></fa-icon>
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>



