<div class="adminbody">
<div class="main" [class.enlarged]="serviceMenu.getClose()">
  <ngx-spinner
    bdColor = "rgba(0, 0, 0, 0.8)"
    size = "large"
    color = "#fff"
    type = "square-jelly-box"
    [fullScreen] = "true">
    <p style="color: white" > Cargando... </p>
  </ngx-spinner>
  <app-sidebar></app-sidebar>
  <app-navbar-admin></app-navbar-admin>
  <div class="content-page bg-dark">
    <router-outlet></router-outlet>
  </div>
  <!--    <app-footer-admin></app-footer-admin>-->
</div>
</div>
