<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 px-5 py-3">
      <div class="px-5 py-3">
        <h1 class="text-center text-white">{{ 'privacy.title' | translate }}</h1>
        <p class="text-white">{{ 'privacy.paragraph1' | translate }}</p>
        <p class="text-white">{{ 'privacy.paragraph2' | translate }}</p>
        <p class="text-white">{{ 'privacy.paragraph3' | translate }}</p>
      </div>
    </div>
  </div>
</div>
