<li class="submenu">
  <a class="nav-link text-white">
    <fa-icon [icon]="faLanguage"></fa-icon>
    <span [class.text-hide]="serviceMenu.getClose()">
      Administra en
    </span>
    <span>
      <img src="assets/images/flags/Flag_of_France.svg" width="20px" class="ms-1" alt="french" (click)="changeLenguage('fr')" *ngIf="activeLang == 'es' || activeLang == 'de'" style="cursor: pointer;">
      <img src="assets/images/flags/Flag_of_Germany.svg" width="20px" class="ms-1" alt="germany" (click)="changeLenguage('de')" *ngIf="activeLang == 'es' || activeLang == 'fr'" style="cursor: pointer;">
    </span>
  </a>
</li>
