<div class="mt-2 ms-5">
  <div class="row" *ngFor="let category of categories; let i=index">
    <div class="col-2 d-flex justify-content-center">
      <a [routerLink]="['/admin/categories/edit', category.id]">
        <img src="assets/images/missing.png" alt="Sin Imagen" class="img-fluid" *ngIf="!category.image">
        <img [src]="url_images + category.image" alt="category.image" class="img-fluid" *ngIf="category.image" (error)="replaceImage(image)" #image>
      </a>
    </div>
    <div class="col-7 d-flex align-items-center">
      <a [routerLink]="['/admin/categories/edit', category.id]">
        <span *ngIf="serviceTranslation.getLang() == 'fr'">
          <span *ngIf="category.name.fr">{{ category.name.fr }}</span>
          <span *ngIf="!category.name.fr">Editar</span>
        </span>
        <span *ngIf="serviceTranslation.getLang() == 'de'">
          <span *ngIf="category.name.de">{{ category.name.de }}</span>
          <span *ngIf="!category.name.de">Editar</span>
        </span>
      </a>
    </div>
    <div class="col-2 text-center">
        <fa-icon [icon]="faPlus" class="text-success" [routerLink]="['/admin/categories/subcategories/create', category.id]"></fa-icon>
        <fa-icon [icon]="faPowerOff" class="text-success ms-2 cursor" *ngIf="category.active" (click)="active(category.id)"></fa-icon>
        <fa-icon [icon]="faPowerOff" class="text-danger ms-2 cursor" *ngIf="!category.active" (click)="active(category.id)"></fa-icon>
        <fa-icon [icon]="faTrashAlt" class="text-danger ms-2 cursor" (click)="delete(category.id)"></fa-icon>
    </div>
    <app-subcateries-categories [parent]="category.id"></app-subcateries-categories>
  </div>
</div>
