<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <a href="tel: 5521096425" class="nav-link text-center" (click)="clickTel('telephone')">
        <fa-icon [icon]="faPhone" class="text-primary"></fa-icon>&nbsp;&nbsp;
        <span class="text-white">{{ 'client.footer.call' | translate }} (55) 2109-6425</span>
      </a>
    </div>
    <div class="row">
      <a  class="text-center text-white" [routerLink]="['/aviso-privacidad']">{{ 'client.footer.privacy' | translate }}</a>
    </div>
    <div class="row">
      <p class="text-center text-white">{{ 'client.footer.copyright' | translate }} &#169; {{now | date:'yyyy':'+0530'}}</p>
    </div>
  </div>
</footer>
