<!-- Start content -->
<div class="content bg-dark text-white">
  <div class="container-fluid bg-dark text-white">
    <app-breadcrumb-admin titlePage="Dashboard" [single]="true"></app-breadcrumb-admin>
  </div>
</div>
