<div class="container-fluid bg-light">
  <div class="row pe-5">
    <div class="col-12 d-flex justify-content-end">
    <span class="float-end">
      {{ 'client.head.header.language' | translate }}
      <img src="assets/images/flags/Flag_of_France.svg" class="ms-1" width="20px" alt="french" (click)="changeLenguage('fr')" *ngIf="activeLang == 'es' || activeLang == 'de'" style="cursor: pointer;">
      <img src="assets/images/flags/Flag_of_Germany.svg" class="ms-1" width="20px" alt="germany" (click)="changeLenguage('de')" *ngIf="activeLang == 'es' || activeLang == 'fr'" style="cursor: pointer;">
    </span>
    </div>
  </div>
</div>
