@import "src/assets/sass/variables"

.nav
  background: #000000 !important
  width: 100%

  ul

    li
      list-style: none
      margin-top: 3%

      &:first-child
        margin-left: -5%
        display: block

        a
          color: $color-primary

      a
        color: white

        img
          width: 50px

        span
          text-transform: capitalize
          position: absolute
          margin-top: 7px

          &:last-child
            margin-top: 21px

.menu
  position: absolute
  z-index: 9
  top: 3%
  right: 15px
  font-size: 2.3em
  display: block

.show
  display: block

.hide
  display: none

@media (min-width: $lg)
  .hide
    display: inline-block
  .menu
    display: none
  .nav
    background: #000000 !important
    width: 100%
    height: 120px

    ul
      margin: 0 auto

      li
        line-height: 50px
        display: inline-block
        padding: 0 2.5rem
        text-align: center
        margin-top: 0
        //border: 1px solid red
        //width: 33.3333333%

        &:first-child
          width: 100%
          margin-left: 0
          text-align: center

          a
            color: $color-primary !important

        a
          color: white!important

          img
            width: 15%
            margin-left: -115px

          span
            text-transform: capitalize
            position: absolute
            margin-top: -3px

            &:last-child
              margin-top: 14px
