<nav class="nav">
  <ul>
    <li>
      <a routerLink="/">
        <img src="assets/images/logo.png" alt="logo">
        <span>caracol de plata </span>
        <span>{{ 'client.head.nav.jewels' | translate }}</span>
      </a>
    </li>
    <li [ngClass]="{'hide': !open, 'show':open}">
      <a routerLink="quienes-somos">
        {{ 'client.head.nav.about' | translate }}
      </a>
    </li>
    <li [ngClass]="{'hide': !open, 'show':open}">
      <a routerLink="nuestros-productos">
        {{ 'client.head.nav.products' | translate }}
      </a>
    </li>
    <li [ngClass]="{'hide': !open, 'show':open}">
      <a routerLink="contacto">
        {{ 'client.head.nav.contact' | translate }}
      </a>
    </li>
  </ul>
</nav>
<div class="menu">
    <fa-icon [icon]="faIcon" class="text-primary" (click)="toogleMenu()"></fa-icon>
</div>

