@import "src/assets/sass/_variables.scss"

*
  font-family: "Arial Narrow"


.label-flags
  width: 100px !important
  margin: 5px 0 10px 0

.btn-primary
  background-color: $dark !important
  border-color: $dark !important

.bg-primary
  background: $primary-color !important

.text-primary
  color: $primary-color !important

.cursor
  cursor: pointer

.aspect-radio
  width: 100%
  object-fit: cover



.upload-btn-wrapper
  position: relative
  overflow: hidden
  display: inline-block


.upload-btn-wrapper .btn
  color: white
  cursor: alias
  padding: 2px 20px
  border-radius: 0px
  font-size: 1rem
  font-weight: bold



.upload-btn-wrapper input[type=file]
  font-size: 100px
  position: absolute
  left: 0
  top: 0
  opacity: 0

.text-black
  color: black


.site-footer
  padding-top: 2.7rem !important
  border-top: solid 5px $color-primary

.text-primary
  color: $color-primary !important

.bg-dark-header
  background: #101010

.form-control
  color: #fff
  background-color: $dark
  border: 1px solid #ced4da

  &:focus
    color: #fff !important
    background-color: #212529 !important

  &::placeholder
    color: #fff !important


ckeditor
  color: #000000 !important
